*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksans', sans-serif;
  color: black;
}

header{
  height: 70px;
}

header h1 {
  display: inline-block;
  float: none;
  padding: 15px 24px;
  text-transform: uppercase;
}

header h1 a {
  transition: .3s;
}

header h1 a:hover {
  color: darkkhaki;
}

header ul{
  float: right;
}

header ul li{
  padding: 24px;
  display: inline-block;
}

header ul li a{
  transition: .3s;
}

header ul li a:hover {
  color: darkkhaki;
}

a{
  text-decoration: none;
}

/* bagian container */
.container{
  width: 90%;
  margin: 0 auto;
}

.container::after{
  content: '';
  display: block;
  clear: both;
}

/* bagian Menu */
.mobile-menu {
  float: right;
  display: none;
  padding: 18px;
}

.mobile-menu::hover {
  cursor: pointer;
}

#check{
  display: none;
}

/* bagian sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -300px;
  width: 300px;
  background-color: darksalmon;
  transition: .3s;
  z-index: 9999;
}

.sidebar ul li a{
  color: black;
}

.sidebar ul li {
  padding: 24px;
  transition: .3s;
  transition-property: background-color;
}

.sidebar ul li:hover {
  background-color: darkkhaki;
}

#check:checked ~ .sidebar {
  left: 0;
}

/* bagian banner */
.banner {
  background-color: darksalmon;
  padding: 150px 0;
}

section {
  padding: 50px 0;
}

.banner img {
  width: 100px;
  border-radius: 10px;
  box-shadow: 0 3px 5px black;
  margin-bottom: 10px;
}

.banner h2,
.banner p,
.banner span {
  color: white;
}

.banner h2 {
  margin-bottom: 10px;
}

.banner p{
  font-size: 18px;
}

.banner-left {
  padding-left: 24px;
}

section h3 {
  padding-bottom: 20px;
  text-align: center;
  margin: 20px;
  position: relative;
}

section h3::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 120px;
  height: 1px;
  background-color: white;
  left: calc(50% - 60px);
}

section h3::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 40px;
  height: 4px;
  background-color: darkred;
  left: calc(50% - 20px);
}

/* bagian about */
#about p{
  text-align: justify;
  text-indent: 30px;
  line-height: 25px;
  margin-bottom: 15px;
  background-color: #FCF4DD;
  color: black;
}

/* bagian skills */
#skills,
#contact {
  background-color: darkseagreen;
}

#skills .bar {
  height: 30px;
  background-color: black;
  border: 1px solid rgb(77, 74, 74);
  margin: 5px 0 20px 0;
}

.bar .nilai{
  height: 30px;
  background-color: darkkhaki;
  display: inline-block;
  color: black;
  text-align: center;
}

.html {
  width: 70%;
}

.css {
  width: 60%;
}

.jss {
  width: 55%;
}

.php{
  width: 50%;
}

.col-4 {
  width: 25%;
  box-sizing: border-box;
  padding: 5px;
  float: left;
  text-align: center;
  margin-bottom: 15px;
}

.col-4 img {
  width: 100%;
}

.col-4 a:hover img {
  transform: scale(1.2);
}

.col-3 {
  width: 33.33%;
  box-sizing: border-box;
  float: left;
  text-align: center;
  margin-bottom: 50px 10px;
}

.col-3 h4 {
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px;
}

/* bagian footer */
footer{
  background-color: #FFF5BA;
  padding: 50px;
  text-align: center;
}

footer small{
  color: black;
}

html{
  scroll-behavior: smooth;
}

@media (max-width: 800px){
  .mobile-menu{
    display: block;
  }

  header ul{
    display: none;
  }

  .col-4 {
    width: 10 0%;
  }

  .col-3{
    width: 100%;
  }
}